<!doctype html>
%html(lang="en_US")
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link(rel="icon" type="image/png" href="/~tasiaiso/favicon.png")
    -# %link(rel="icon" type="image/x-icon" href="/~tasiaiso/favicon.ico")
    %link(rel="icon" type="image/svg+xml" href="/~tasiaiso/favicon.svg" sizes="any")

    %link(rel="stylesheet" href="/~tasiaiso/gruvbox-dark.min.css")
    %link(rel="stylesheet" href="/~tasiaiso/style.min.css")

    %title {% if page.title %}{{ page.title }} - {% endif %}{{ config.site_name }}

    -# <!-- <meta name="description" content="Page description"> -->
    %meta(name="keywords" content="programming, technical writing")
    %meta(name="author" content="Tasia Iso")
    %link(rel="me" href="https://kitsunes.club/@tasiaiso")
    %meta(name="ICBM" content="44.6, 4.4")

    %meta(http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'unsafe-inline' 'self'; img-src 'self'; script-src 'unsafe-inline' moz-extension://*; frame-src https://john.citrons.xyz https://adservices.metamuffin.org; media-src data:;")

    -# <!-- <meta
    -# name="robots"
    -# content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
    -# /> -->
  %body
    -# Link to root
    {% if not page.is_homepage %}
    %a(href="/") root
    %br
    %br
    {% endif %}

    pages
    {% if nav|length>1 %}
    -# Categories / Directories
    %ul
      {% for nav_item in nav %}
      {% if not nav_item.meta or not nav_item.meta.unlisted %}
      {% if nav_item.children %}
      %li
        {{ nav_item.title }}
        -# Posts / Files
        %ul
          {% for nav_item in nav_item.children %}
          {% if not nav_item.meta.unlisted %}
          -# TODO
          %li(class="{% if nav_item.active %}current{% endif %}")
            %a(href="{{ nav_item.url|url }}")
              {{ nav_item.meta.date }}
              {% if nav_item.meta.date %} - {% endif %}
              {{ nav_item.title }}
          {% endif %}
          {% endfor %}
      {% else %}
      -# TODO
      %li(class="{% if nav_item.active %}current{% endif %}")
        %a(href="{{ nav_item.url|url }}") {{ nav_item.title }}
      {% endif %}
      {% endif %}
      {% endfor %}
    {% endif %}

    -# Table of contents
    {% if not page.is_homepage %}
    table of contents
    %ul
      {% for toc_item in page.toc %}
      %li
        %a(href="{{ toc_item.url }}") {{ toc_item.title }}
        {% for toc_item in toc_item.children %}
        %li
          %a(href="{{ toc_item.url }}") {{ toc_item.title }}
        {% endfor %}
      {% endfor %}
    {% endif %}

    %hr

    {{ page.content }}

    -# Webrings
    %p.ring
      %a(href="https://fediring.net/previous?host=tilde.club%2F~tasiaiso" target="_top") &larr;
      %a(href="https://fediring.net") Fediring
      %a(href="https://fediring.net/next?host=tilde.club%2F~tasiaiso" target="_top") &rarr;

    %p.ring
      %a(href="https://tilde.club/~harper/link.html?action=random" target="_top") &larr;
      %a(href="https://tilde.club") tilde.club webring
      %a(href="https://tilde.club/~harper/link.html?action=random" target="_top") &rarr;

    %p.ring
      %a(href="https://baccyflap.com/noai/?prv&s=iso" target="_top") &larr;
      %a(href="https://baccyflap.com/noai") the no ai webring
      %a(href="https://baccyflap.com/noai/?nxt&s=iso" target="_top") &rarr;

    -# 88x31 badges
    %br
    cool people and creatures
    %br

    %a.badge(href="https://xeiaso.net")
      %img(src="/~tasiaiso/images/badges/xeiaso.png" alt="xeiaso badge" loading="lazy")
    %a.badge(href="https://tea.cuddleslut.fr")
      %img(src="/~tasiaiso/images/badges/tea.png" alt="tea badge" loading="lazy")
    %a.badge(href="https://maia.crimew.gay")
      %img(src="/~tasiaiso/images/badges/maia.png" alt="maia badge" loading="lazy")
    %a.badge(href="https://vulpinecitrus.info")
      %img(src="/~tasiaiso/images/badges/vulpinecitrus.png" alt="vulpinecitrus badge" loading="lazy")
    %a.badge(href="https://elke.cafe")
      %img(src="/~tasiaiso/images/badges/elke.png" alt="elke badge" loading="lazy")
    %a.badge(href="https://awawa.neocities.org")
      %img(src="/~tasiaiso/images/badges/byte.png" alt="byte badge" loading="lazy")
    %a.badge(href="https://flufftech.net")
      %img(src="/~tasiaiso/images/badges/rail.png" alt="rail badge" loading="lazy")
    %a.badge(href="https://theresnotime.co.uk")
      %img(src="/~tasiaiso/images/badges/sammy.png" alt="sammy badge" loading="lazy")
    %a.badge(href="https://soatok.blog")
      %img(src="/~tasiaiso/images/badges/soatok.png" alt="soatok badge" loading="lazy")
    %a.badge(href="https://freeplay.floof.company")
      %img(src="/~tasiaiso/images/badges/free.png" alt="freeplay badge" loading="lazy")

    %br
    misc
    %br

    %a.badge(href="https://fediring.net")
      %img(src="/~tasiaiso/images/badges/fediring.png" alt="fediring badge" loading="lazy")
    %a.badge(href="https://kitsu.life")
      %img(src="/~tasiaiso/images/badges/kitsulife.png" alt="kitsulife badge" loading="lazy")
    %a.badge(href="https://nixos.org")
      %img(src="/~tasiaiso/images/badges/nixos.png" alt="nixos badge" loading="lazy")
    %a.badge(href="https://tilde.club")
      %img(src="/~tasiaiso/images/badges/tildeclub.png" alt="tilde.club badge" loading="lazy")
    %a.badge(href="https://linux.org")
      %img(src="/~tasiaiso/images/badges/linux.png" alt="tilde.club badge" loading="lazy")
    %a.badge(href="https://en.wikipedia.org/wiki/Non-binary_gender")
      %img(src="/~tasiaiso/images/badges/flag-nonbinary.png" alt="enby badge" loading="lazy")
    %a.badge(href="https://en.wikipedia.org/wiki/ISO_8601")
      %img(src="/~tasiaiso/images/badges/iso8601.png" alt="iso8601 badge" loading="lazy")
    %a.badge
      %img(src="/~tasiaiso/images/badges/no_fkn_thanks.gif" alt="no fkn thanks badge" loading="lazy")
    %a.badge
      %img(src="/~tasiaiso/images/badges/twopaws.png" alt="made with my own two paws badge" loading="lazy")
    %a.badge(href="https://vscodium.com/")
      %img(src="/~tasiaiso/images/badges/vscodium.png" alt="vscodium badge" loading="lazy")
    %a.badge(href="https://creativecommons.org/licenses/by-nc-sa/4.0/")
      %img(src="/~tasiaiso/images/badges/cc-by-nc-sa.png" alt="creativecommons badge" loading="lazy")

    %br

    %a(href="https://notbyai.fyi")
      %img(src="/~tasiaiso/images/not-by-ai.png" alt="written by human, not by ai" loading="lazy")

    %img(src="/~tasiaiso/images/webweaving.gif" alt="this website is a work in progress" loading="lazy")

    :markdown
      [memetic apiopage](https://citrons.xyz/a/memetic-apioform-page.html) |
      [buttons credits](/~tasiaiso/images/badges/credits.txt) |
      [warrant canary](/~tasiaiso/static/canary.txt)

      ---

      *copyright notice*: This webite's source code and built webpages when shared in their entirety are provided under the [GPL-3.0](https://www.gnu.org/licenses/gpl-3.0.en.html)
      license. All blog posts, articles and Markdown files contained within the [git repository](https://gitea.com/tasiaiso/tilde) are shared under the
      [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. If you want to use my content for commercial purposes, feel free to contact me.

      This is an [actual website](https://actualwebsite.org). Read the [web0 manifesto](https://web0.small-web.org).

      This page is cleaner than 0% of all web pages globally according to [websitecarbon.com](https://www.websitecarbon.com/website/tilde-club-tasiaiso).

      Built by [mkdocs](https://www.mkdocs.org) and served by [tilde.club](https://tilde.club).

      rss feed: todo - email me if you want to subscribe !

    -# %details
      -# %summary Please watch these ads (will contact john.citrons.xyz and adservices.metamuffin.org)
    %iframe.ad(title="Johnvertisement" src="https://john.citrons.xyz/embed?ref=tilde.club/~tasiaiso/" loading="lazy")
    %iframe.ad(title="Metamuffin Ads" src="https://adservices.metamuffin.org/v1/embed?s=tilde.club/~tasiaiso/" loading="lazy")

    %br

    This website does not use JavaScript or other tracking technologies.

    -# Last update: 2024-06-05
    %p.fg4
      - require "date"
      = "Last update: " + Time.now().strftime("%Y-%m-%d")