/* yv31.github.io/gruvbox-css */
:root {
  --bg_h: #1d2021;
  /* --bg: #282828; */
  /* --bg_s: #32302f; */
  --bg1: #3c3836;
  /* --bg2: #504945; */
  /* --bg3: #665c54; */
  /* --bg4: #7c6f64; */

  --fg: #fbf1c7;
  /* --fg1: #ebdbb2; */
  /* --fg2: #d5c4a1; */
  /* --fg3: #bdae93; */
  --fg4: #a89984;

  /* --red: #fb4934; */
  /* --green: #b8bb26; */
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  /* --aqua: #8ec07c; */
  /* --gray: #928374; */
  /* --orange: #fe8019; */

  /* --red-dim: #cc2412; */
  /* --green-dim: #98971a; */
  /* --yellow-dim: #d79921; */
  /* --blue-dim: #458588; */
  /* --purple-dim: #b16286; */
  /* --aqua-dim: #689d6a; */
  /* --gray-dim: #a89984; */
  /* --orange-dim: #d65d0e; */
}
