html {
  font-family: sans-serif;

  color: var(--fg);
  background: var(--bg_h);
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

code {
  color: var(--yellow);
}

blockquote {
  border-left: 3px solid var(--bg1);
  padding-left: 16px;
}

.badge {
  text-decoration: none;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}

.fg4 {
  color: var(--fg4);
}

@media only screen and (min-width: 800px) {
  body {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (min-width: 1100px) {
  body {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

.ad {
  border: none;
  width: 728px;
  height: 90px;
}

.ring {
  border: 1px dotted var(--yellow);
  padding: 8px;
  text-align: center;
  font-size: large;
}
